---
layout: layout.liquid
title: RGB Sliders
---
<h1 class="heading">RGB Sliders</h1>

<div class="grid">
    <div class="row">
        <span class="index index--red">124</span>
        <span class="slider-wrapper slider-wrapper--red">
            <input type="range" min="0" max="255" value="0" class="slider slider--red" id="slider--red">
        </span>
        <span class="result result--red">the result</span>
    </div>
    <div class="row">
        <span class="index index--green">124</span>
        <span class="slider-wrapper slider-wrapper--green">
            <input type="range" min="0" max="255" value="0" class="slider slider--green" id="slider--green">
        </span>
        <span class="result result--green">the result</span>
    </div>
    <div class="row">
        <span class="index index--blue">124</span>
        <span class="slider-wrapper slider-wrapper--blue">
            <input type="range" min="0" max="255" value="0" class="slider slider--blue" id="slider--blue">
        </span>
        <span class="result result--blue">the result</span>
    </div>

    <div class="rgb-result">
        generate the rgb result here
    </div>
</div>