---
layout: layout.liquid
title: RGB Sliders
---
<h1 class="heading">RGB Sliders</h1>

<div class="grid">
    <div class="row">
        <span class="index index--red">0</span>
        <input type="range" min="0" max="255" value="0" class="slider slider--red" data-target="red" id="slider--red">
        <span class="result result--red">the result</span>
    </div>
    <div class="row">
        <span class="index index--green">0</span>
        <input type="range" min="0" max="255" value="0" class="slider slider--green" data-target="green" id="slider--green">
        <span class="result result--green">the result</span>
    </div>
    <div class="row">
        <span class="index index--blue">0</span>
        <input type="range" min="0" max="255" value="0" class="slider slider--blue" data-target="blue" id="slider--blue">
        <span class="result result--blue">the result</span>
    </div>

    <div class="rgb-result">
        generate the rgb result here
    </div>
</div>