html {
    font-size: 16px;
}

body {
    font-family: Helvetica, sans-serif;
}

main {
    flex: 1;
    max-width: 800px;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
}