.result {
    background-color: rgb(var(--red), var(--green), var(--blue));

    &--red {
        background-color: rgb(var(--red), 0, 0);
    }
    &--green {
        background-color: rgb(0, var(--green), 0);
    }
    &--blue {
        background-color: rgb(0, 0, var(--blue));
    }
}

.rgb-result {
    background-color: rgb(var(--red), var(--green), var(--blue));
}