:root {
  --red: 0;
  --green: 0;
  --blue: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Helvetica, sans-serif;
}

main {
  flex: 1;
  max-width: 800px;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 4rem;
}

.row {
  display: grid;
  grid-template-columns: 4rem 3fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
}

.rgb-result-wrapper {
  grid-row: span 3/span 3;
  grid-column-start: 2;
  grid-row-start: 1;
}

.slider {
  cursor: pointer;
  width: 100%;
}

.slider-wrapper {
  display: flex;
  align-items: center;
}

.slider-temp {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
.slider-temp::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: none;
  background: red;
  border-radius: 0px;
  border: 0px solid #010101;
}
.slider-temp::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: none;
  background: red;
  border-radius: 0px;
  border: 0px solid #010101;
}
.slider-temp::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  margin-top: -20px;
}
.slider-temp::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  margin-top: -20px;
}
.slider-temp::-moz-focus-outer {
  border: 0;
}

.rs-range {
  margin-top: 29px;
  width: 600px;
  -webkit-appearance: none;
  appearance: none;
}
.rs-range:focus {
  outline: none;
}
.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  margin-top: -20px;
}
.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  margin-top: -20px;
}
.rs-range::-moz-focus-outer {
  border: 0;
}

.bubble-temp {
  position: relative;
  transform-origin: center center;
  display: block;
  width: 98px;
  height: 98px;
  background: transparent;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 22px;
  box-sizing: border-box;
  border: 2px solid red;
  margin-top: 20px;
  margin-left: -38px;
  left: attr(value);
  color: red;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 6px;
}
.bubble-temp::after {
  content: "";
  display: block;
  font-size: 6px;
  letter-spacing: 0.07em;
  margin-top: -2px;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  color: #000;
  font-size: 1.5rem;
  padding: 10px 0 7px;
}

.result {
  height: 6rem;
  background-color: rgb(var(--red), var(--green), var(--blue));
}
.result--red {
  background-color: rgb(var(--red), 0, 0);
}
.result--green {
  background-color: rgb(0, var(--green), 0);
}
.result--blue {
  background-color: rgb(0, 0, var(--blue));
}

.rgb-result-wrapper {
  padding: 0.5rem;
  border: 3px solid #000;
  display: flex;
}

.rgb-result {
  flex: 1;
  background-color: rgb(var(--red), var(--green), var(--blue));
}

/*# sourceMappingURL=styles.css.map */
